<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Trueskill ui demo thing</h1>
    <form action="/manage">
        <button>Manage</button>
    </form>
    <form action="/settings">
        <button>Settings</button>
    </form>
    
    {% for teamName, teamMembers in session['teams'].items() -%}
        <h2>{{teamName}}</h2>
            <form action="/add_player" method="POST">
                <input type="hidden" name="team" value="{{ teamName }}">
                <input type="text" name="playerName">
                <input type="number" value="25" name="mu">
                <input type="number" value="8.33" name="sigma">
                <input type="submit" value="Submit">
            </form>

            <li>
                {% for key, values in session['teams'][teamName].items() -%}
                    <ul> <span>{{ key}} {{values}}</span> 
                        <form action="/remove_player" method="post"  ><input type="hidden" name="playerName" value={{ key }}> <input type="submit" value="Remove"></form>
                    </ul>
                {% endfor %}
                
            </li>
            <form action="/remove_team" method="POST">
                <input type="hidden" name="team" value="{{ teamName }}">
                <input type="submit" value="Remove_team">
            </form>
    {%endfor%}
    
    
    <form action="/calculate" method="POST">
        <button>Update ratings</button>
    </form>
    <form action="/add_team" method="POST">
        <input type="text" name="teamName">
        <button>Add team</button>
    </form>
    <img src='data:image/png;base64,{{ data }}'/>

    

</body>
</html>

